package routes

import "spi2c/views/layouts"

templ Route404() {
	@layouts.Base() {
		<div id="route-404" class="p-5 text-2xl">
			<h1>404 Not Found</h1>
            <p>
                The page you're looking for does not exist :(
            </p>
		</div>
	}
}
