package profile

import (
	"spi2c/data"
	"spi2c/views/layouts"
	"strconv"
)

templ Index(u data.User) {
	@layouts.Base() {
		<div id="profile-page">
			<div class="px-5">
				<ul>
					<li>{ strconv.Itoa(u.ID) }</li>
					<li>{ u.Username }</li>
					<li>{ u.Email }</li>
					<li>{ u.Password }</li>
					<li>{ u.CreatedAt.String() }</li>
				</ul>
			</div>
		</div>
	}
}
