@import "tailwindcss";

@font-face {
  font-family: 'Lapture';
  src: url('fonts/LaptureRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lapture';
  src: url('fonts/LaptureItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lapture';
  src: url('fonts/LaptureBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lapture';
  src: url('fonts/LaptureBoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "W95FA";
  src: url("fonts/W95FA.otf") format("opentype");
}

@theme {
  --font-family-lapture: 'Lapture', sans-serif;
  --font-family-w95: 'W95FA', sans-serif;
}

.line-clamp-8 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.line-clamp-9 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.fade {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.fade-hidden {
  opacity: 0;
}

.border-3 {
  border-width: 3px;
}

.w95-border {
  border-top-color: rgb(229 231 235);
  border-left-color: rgb(229 231 235);
  border-right-color: rgb(0 0 0);
  border-bottom-color: rgb(0 0 0);
}

.w95-button {
  border-top-color: rgb(229 231 235);
  border-left-color: rgb(229 231 235);
  border-right-color: rgb(0 0 0);
  border-bottom-color: rgb(0 0 0);
}

.w95-button:hover:active {
  border-top-color: rgb(0 0 0);
  border-left-color: rgb(0 0 0);
  border-right-color: rgb(229 231 235);
  border-bottom-color: rgb(229 231 235);
}

.btn-black {
  border-width: 1px;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}

.btn-black:hover {
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
}

.post-info {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}
